{% extends 'base-register.html' %}

{% block content %}
<form action="" class="form">

    <h1 class="form_title">Register</h1>

    <div class="form_group">
        <input type="text" name="username" id="usernameField" class="form_input" placeholder=" ">
        <label for="" class="form_label">Username</label>
    </div>
    
    <div class="form_group">
        <input type="email" name="email" id="emailField" class="form_input" placeholder=" ">
        <label for="" class="form_label">Email</label>
    </div>

    <div class="form_group">
        <input type="password" name="password" id="passwordField" class="form_input" placeholder=" ">
        <label for="" class="form_label">Password</label>
    </div>

    <button class="form_button">Register</button>
</form>
{% endblock %}
